.gradle/
.idea/
.metals/
.next/
.parcel-cache/
.vs/
.vscode/
[Bb]in/
[Bb]inaries/
[Bb]uild/
[Ii]ntermediate/
[Ll]ib/
[Mm]igrations/
[Oo]bj/
[Pp]ackage/
[Ss]aved/
[Ss]ource/Platform/Android/**/assets
[Ss]ource/Platform/Android/**/build
[Ss]ource/Platform/Android/**/jniLibs
[Tt]arget/
__pycache__/
jniLibs/
node_modules/

*.crt
*.csproj
*.filters
*.fsproj
*.key
*.log
*.make
*.mwb.bak
*.pem
*.sln
*.user
*.vcxproj
*.vpp.*
*.wasm
*.xcodeproj
*.xcworkspace
.DS_Store
.env
Cargo.lock
Makefile
desktop.ini
keystore.jks
local.properties
next-env.d.ts
